/* base element styles */

* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Times New Roman', serif;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: color 0.2s ease;
}

textarea,
select,
input,
button {
  outline: none;
}

/* blog section styles */

.main-content {
  padding: 1em;
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-top: 30px;
  border-radius: 5px;
}

.profile-img {
  width: 75%;
  height: 75%;
  border-radius: 2px 2px 0 0;
}
  
.about-img {
  width: 75%;
  height: 75%;
  border-radius: 2px 2px 0 0;
}

.blog-img {
  width: 75%;
  border-radius: 5px 5px 0 0;
}

.card-content {
  padding: 2px 16px;
}

.card-title {
  margin: 0;
}

/* media queries */
@media (min-width: 700px) {
  .about {
    text-align: center;
    font-size: 1.2em;
  }

  /* Blog Section */
  .card-title {
    font-size: 1.2em;
  }

  /* Header */
  .main-title {
    font-size: 50px;
  }

  /* follow up */
  .footer-title {
    font-size: 12px;
  }

}

@media (min-width: 768px) {
  .main-title {
    font-size: 50px;
  }
  .main-nav {
    display: none;
  }

  .nav-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
  }

  .nav-desktop li {
    margin: 0 14px 0 0;
    text-transform: uppercase;
    font-size: 20px;
  }

  /* main content */
  .about {
    font-size: 1.2em;
  }

  /* blog section */
  .blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    align-items: flex-start;
  }

  .card-title {
    font-size: 1.3em;
  }

  .card-description {
    font-size: 1.2em;
  }

   /* email sign up section */
  .signup-header {
    font-size: 1.3em;
  }

  .signup-form p {
    font-size: 1.1em;
    text-align: center;
  }

  .email {
    display: flex;
  }

  #email {
    width: 100%;
  }

  /* follow us section */
  .footer-title,
  .footer-social-title {
    font-size: 1.3em;
  }

  .footer-about,
  .footer-links li {
    font-size: 1.2em;
  }

  .footer-links {
    display: flex;
  }

  .footer-links li {
    margin: 0 14px 0 0;
  }

}

@media (min-width: 1000px) {
  .blog {
    padding: 150px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .popsy-details {
    width: 650px;
    text-align: center;
    font-style: italic;
    margin: auto;
    padding: 20px;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .signup-form {
    display: flex;
    flex-direction: row;
  }

  .signup-form p {
    text-align: left;
    font-style: italic;
    width: 300px;
  }

  .email {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  #email {
    width: 110%;
  }

  .footer-container {
    display: flex;
    justify-content: space-around;
  }
}

/* email styles */
.signup-header {
  text-align: center;
  font-style: bold;
  margin-top: 40px;
}

#email {
  background-color: #a3c2c2;
  border: 3px solid black;
  border-radius: 5px;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.03);
}

.signup-btn {
  padding: 10px;
  background: #ffab40;
  color: white;
  font-size: 1.2em;
  border-radius: 5px;
  border: 1px solid white;
  width: -webkit-fill-available;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.03);
  transition: background 0.3s ease;
  text-transform: uppercase;
}

.signup-btn:hover {
  background: #ff9100;
}


html {
  font-family: 'Times New Roman', serif; 
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%; 
}

body {
  margin: 0;
}
